<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dragon-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,679},{939,678}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{939,678}}</string>
				<key>sourceSize</key>
				<string>{939,678}</string>
			</dict>

			<key>dragon-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1358},{939,678}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{939,678}}</string>
				<key>sourceSize</key>
				<string>{939,678}</string>
			</dict>

			<key>dragon-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,0},{939,678}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{939,678}}</string>
				<key>sourceSize</key>
				<string>{939,678}</string>
			</dict>

			<key>dragon-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{939,678}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{939,678}}</string>
				<key>sourceSize</key>
				<string>{939,678}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>dragon.png</string>
			</dict>
		</dict>
</plist>